[Unit]
Description=Mako notification daemon
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/mako --default-timeout 5000

[Install]
WantedBy=sway-session.target
