[Unit]
Description=Lock screen on idle
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
    timeout 600 'swaylock --indicator-caps-lock --show-keyboard-layout --indicator-idle-visible -f -c 000000' \
    timeout 660 'swaymsg "output * power off"' \
    resume 'swaymsg "output * power on"' \
    lock 'swaylock -f' \
    unlock 'killall -s USR1 swaylock' \
    before-sleep 'playerctl pause' \
    before-sleep 'swaylock --indicator-caps-lock --show-keyboard-layout --indicator-idle-visible -f -c 000000'

[Install]
WantedBy=sway-session.target
